.wrapper {
  height    : 400px;
  overflow-y: scroll;
}

.rdw-editor-toolbar {
  background: mintcream !important;
}

.custom-btn:hover {
  background: teal;
}

.my-wrapper {
  color        : white;
  background   : red;
  border       : tomato;
  border-radius: 4px;
  padding      : 20px;
}